@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="container">
        <h1>Sistema de Avaliações da Fatec Jahu</h1>
        <h2>Sobre o sistema:</h2>
        <p>
            O AvaliaFatec foi criado com o intuito de alunos, professores e coordenadores se conectarem de uma maneira
            construtiva e transparente, proporcionando um feedback mais eficiente. O sistema é projeto para coletar e
            analisar as opiniões dos alunos sobre diversos aspectos da faculdade, promovendo um ambiente de melhoria
            contínua e valorização da qualidade educacional.
        </p>
        <h2>Como Funciona?</h2>
        <p>
            1. Criação de Perguntas: Professores e Coordenadores podem criar perguntas objetivas sobre qualidade de
            ensino, infraestrutura, entre outros aspectos importantes da faculdade. As questões são personalizáveis
            e podem ser ajustadas conforme a necessidade de cada curso.
        </p>
        <p>
            2. Respostas dos Alunos: Os alunos podem responder utilizando uma escala de três opções: Satisfeito, Neutro ou Insatisfeito.
            Essa abordagem facilita a análise das opiniões, garantindo que as respostas sejam claras e objetivas.
        </p>
        <p>
            3. Análise das Respostas: Com as respostas coletadas, professores e coordenadores podem avaliar pontos fortes
            e identificar áreas que necessitam de melhorias, contribuindo para um ambiente acadêmico mais dinâmico e em constante evolução.
        </p>
        <h2>Sobre a Fatec Jahu:</h2>
        <p>
            A Faculdade de Tecnologia de Jahu - FATEC-JAHU é uma Instituição Pública de Ensino Superior que oferece
            cursos de graduação para formação de Tecnólogos, visando atender segmentos atuais e emergentes da atividade econômica.
        </p>
    </div>
</main>