@{
    ViewData["Title"] = "Esqueci minha senha";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Enviar link para redefinir senha</button>
</form>

