.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
}

.neutro{
    padding: 192px;
}

.neutro p{
    padding-left: 25px;
}

.satisfeito p{
    padding-left: 15px;
}

.insatisfeito p{
    padding-left: 5px;
}

button{
    background-color: white;
    border: none;
    cursor: pointer;
}