form {
    background-color: #f5f0ec; /* cor de fundo do formulário */
    border: 2px solid #a80000;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input.form-control {
    border: 2px solid #a80000;
    border-radius: 20px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s;
}

    input.form-control:focus {
        border-color: #800000;
    }

input[type="submit"],
input[type="reset"],
.btn {
    background-color: #a80000;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    .btn:hover {
        background-color: #800000;
    }

h1, h4 {
    text-align: center;
}

.senha-container {
    position: relative;
}

.senha-input {
    padding-right: 40px; 
}

.senha-icon {
    position: absolute;
    top: 38px;
    right: 10px;
    cursor: pointer;
    color: #990000;
    font-size: 1.2rem;
}
